# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python linter, test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Poetry Install
      # You may pin to the exact commit or the version.
      # uses: knowsuchagency/poetry-install@7ed80d49910319d3e14ac262a5c81f681de48de0
      uses: knowsuchagency/poetry-install@v2

    - name: Lint with pylint
      uses: gabriel-milan/action-pylint@v1
      with:
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}} # GitHub token
        path: "pyncthing" # Glob pattern for files to lint

    - name: Lint with flake8
      if: success() || failure()
      uses: grantmcconnaughey/lintly-flake8-github-action@v1.0
      with:
        # The GitHub API token to create reviews with
        token: ${{ secrets.GITHUB_TOKEN }}

    - name: Lint with mypy
      if: success() || failure()
      uses: jpetrucciani/mypy-check@master
      with:
        mypy_flags: --install-types

    - name: Lint with isort
      if: success() || failure()
      uses: isort/isort-action@v1

    - name: Lint with black
      if: success() || failure()
      uses: jpetrucciani/black-check@master

    - name: Test with pytest
      if: success() || failure()
      run: |
        pytest
